.welcome_body {
    padding-top: 10%;
    text-align: center;
}

.welcome_message {
    font-size: 200%;
}

.login_button {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 200%;
    margin-top: 5%;
}

.login_button a {
    display: block;
    text-decoration: none;
    color: black;
    margin: 10px;
    margin-bottom: 0;
    background-color: #6F89CB;
    width: 10%;
}

.login_button a:hover {
    text-decoration: none;
    color: black;
    background-color: #88a6f3;
}

.signup_button {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 200%;
}

.signup_button a {
    display: block;
    text-decoration: none;
    color: black;
    margin: 10px;
    margin-top: 2.5%;
    background-color: #6F89CB;
    width: 10%;
}

.signup_button a:hover {
    text-decoration: none;
    color: black;
    background-color: #88a6f3;
}